$light-gray: #eefeff;
$dark-gray: #707377;
$gray: #dcdfe6;
$dull-blue: #329FEE;
$bright-blue: #63C9FE;
$font-size: 0.8;
$shadow: 4px 6px 8px rgba(0, 0, 0, 0.18);

body {
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark-gray;
  background: $light-gray;
}

.flex {
  display: flex;
  justify-content: center;
}

.notes {
  min-width: 28%;
  max-width: 75%;
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
}

.notes__header {
  font-weight: bold;
}

.notes__content {
  background: $light-gray;
  border: 2px solid $bright-blue;
  border-top: 10px solid $bright-blue;
  border-radius: 10px;
  box-shadow: $shadow;
  font-size: $font-size + em;
  p {
    padding: 1% 2% 1%;
    margin: 0;
  }
}

.arrow-up {
  width: 0px;
  height: 0px;
  border-left:    20px solid transparent;
  border-bottom: 20px solid $bright-blue;
  border-right:  20px solid transparent;
  }

.vgt-wrap {
  box-shadow: $shadow;
  margin: 1% 1% 20%;
  table.vgt-table {
    font-size: $font-size + em;
  }
  table.vgt-table td{
    vertical-align: middle;
  }
  .vgt-table thead th, .vgt-global-search {
    background: linear-gradient(#FFF,#edfdfe);
  }
  th span {
    font-weight: bold;
    color: 4A4A4A;
    text-transform: uppercase;
  }
  input:focus{
    border: 1px solid $bright-blue;
  }
  .vgt-table thead th.sorting-asc:after
  {
    border-bottom: 6px solid $dull-blue;
  }
  .vgt-table thead th.sorting-desc:after {
    border-top: 6px solid $dull-blue;
  }
}

.color {
  text-align: center;
  span {
    border-radius: 15px;
    border: 1px solid $dark-gray;
    padding: 2px 6px;
    color: $light-gray;
    opacity: .8;
  }
  &.red span {
    background: #C35252;
  }
  &.dessert span {
    background: #FF4444;
  }
  &.white span {
    color: $dark-gray;
  }
  &.sparkling span {
    background: #FFFEDE;
    color: $dark-gray;
  }
  &.blush span {
    background: #F1A0A0;
  }
}


.table-row:hover {
  background: $light-gray;
}

@media (min-width:750px) {
  .vgt-wrap {
    table.vgt-table {
      font-size: $font-size + .2 + em;
    }
  }
  .notes__content {
    font-size:  $font-size + .2 + em;
  }
}
